

.container-fluid {

  /* background-image: url(images/759999.png); */

  /* Full height
  height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#name {
    padding-bottom:10px;
}

.icons {
    padding-left: 10px;
    padding-right: 10px;
}

ul#research li {
  float: left;
  padding-right: 30px;
}

#job {
    font-size: 2em;
    text-align:left;
    color: #f63366;

}

#profilepic {
    float: left;
    width:100%;
    padding-bottom: 10px;
}

#description {
    font-size: 1.3em;
    text-align: justify;
}

#mainrow {
    padding: 70px 70px 70px 70px;
    height: 100%;

}
html {
    overflow: auto;
    height: 100%;
        /* background-color: #9E9E9E; */
        /* background: url(color-stripes-1169611.jpg) */

}
body {
    /* background-color: #9E9E9E; */
    overflow: auto;
    height: 100%;

    background-image: url(images/759999.png);

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cv {
    background-color:black;
}

#lge_select {
    font-size: 15px;
    float: left;
  padding: 10px 10px;
  border:none;
  outline:none;
    background-color: transparent;

}
.tablink {
  background-color: transparent;

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  width: 18%;
    padding: 14px 10px -50px;


}

.tablink:hover {
/*
  background-color: #777;
*/
    font-size: 4px;

}

.tabcontent {
  color: black;
  display: none;
  padding: 110px 15px 1px 15px;
  height: 100%;
  margin: 0 0 16px 0;
  background-color: #EBEBEB;
  /* box-shadow: 2px 2px #000000; */


}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff017d;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
